.row>button {
    margin:auto;
    margin-top: 1rem;
    width: 300px;
    border-radius: 5px;
    border-color:rgb(0 0 0);
    border-width: 1px;
    border-style: solid;
    background-color:rgb(204, 203, 203);
    padding: 5px
}

.row>button:hover {
    background-color: rgb(156, 154, 154);
}

.main-text {
    font-size: 2.75rem;
}

.sub-text {
    font-size: 2.5rem;
}

button.bc {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
}
