.row>button {
    margin:auto;
    margin-top: 1rem;
    width: 300px;
    border-radius: 5px;
    border-color:rgb(0 0 0);
    border-width: 1px;
    border-style: solid;
    background-color:rgb(204, 203, 203);
    padding: 5px
}

.container>button{
    border-color:rgb(0 0 0);
    border-width: 1px;
    border-style: solid;
    background-color:rgb(204, 203, 203);
    padding: 5px
}

.container>button:hover {
    background-color: rgb(156, 154, 154);
}

.main-text {
    font-size: 2.75rem;
}

.sub-text {
    font-size: 2.5rem;
}

button.bc {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
}

#ping {
    margin-left: -11px;
    margin-top: -11px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 2px solid rgb(75, 7, 75);
    background-color: purple;
    opacity: 0;
    position: relative;
}

#ping-ring {
    margin-left: -8px;
    margin-top: -8px;
    height: 104px;
    width: 104px;
    border-radius: 50%;
    border: 2px solid purple;
    /* background-color: purple; */
    opacity: 0;
    position: relative;
}

.pm {
    margin-top: -7rem!important;
    margin-left: 19.9rem;
}

.ml-5 {
    margin-left: 3rem
}

.justify-content-center2 {
    justify-content: center!important;
    margin-left: initial;
}
